body{
    background:radial-gradient(#e5e5e5, #ffff, #e5e5e5);
 
}

.ListMateriAdmin{
    width: 20rem;
}

.ListMateriAdmin:hover {
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253)!important;
   
    
}

.ListMateriAdmin-body{    
    padding: 3rem 0 !important;
}

.list-title {
    font-size: 9rem;
    padding: 0.4rem 1.9rem;
    text-align: center;
}