.ListMateriStudent {
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    color: orange;
    padding: 25px;
  }

  .button {
    background-color: orange;
    font-size: small;
    font-weight: bold;
    color: rgb(43, 42, 41);
    /*padding: 10px;
    border-radius: 20px;
    width: 130px;
    border-width: 0ch;*/
  }  
  
  .textButton {
    font-size: small;
    font-weight: bold;
    color: #000;
  }
  
  .containerListMateri {
    background-color: #2C2A2A;
    height: 200vmax;
    padding-right: 25px;
    padding-left: 25px;
  }
  
  .mainList {
    /* background-color: green; */
    width: 100%;
    height: 80vh;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .componentList {
    height: 40%;
    width: 30%;
    background-color: #000;
    border-radius: 5px;
  }
  
  .imageListMat {
    width: 100%;
    height: 73%;
    background-color: rgb(61, 159, 252);
  }
  
  .title {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    /* background-color: #fff; */
    padding-left: 3px;
  }
  
  .subTitle1 {
    font-weight: bold;
    color: orange;
    font-size: larger;
  }
  
  .subTitle2 {
    color: orange;
    font-size: small;
  }
  
  .footerBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 3px;
    align-items: center;
    /* background-color: blue; */
    height: 50px;
  }
  
  .button1 {
    /*height: 22px;
    width: 22px;
    border-radius: 50px;
    border-color: orange;
    background-color: #000;
    border-width: 1.5px;*/
    background-color:orange;
    font-size: small;
    font-weight: bold;
    color: rgb(37, 37, 36);
  }
  .button2 {
    /*height: 22px;
    width: 22px;
    border-radius: 50px;
    border-color: orange;
    background-color: #000;
    border-width: 1.5px;*/
    background-color:orange;
    font-size: small;
    font-weight: bold;
    color: rgb(26, 25, 25);
  }

.SearchBarComponent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 36px;
}

.SearchBarComponent form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.SearchBarComponent input {
  background-color: #171717;
  border-color: #F9B234;
  border-radius: 30px;
  color: #F9B234;
  margin-top: 3px;
  padding: 15px 15px 15px 15px;
  width: 390px;
  height: 30px;
}

.SearchBarComponent ::placeholder {
  color: #F9B234
}

.SearchBarComponent button {
  color: #F9B234;
  background-color: #171717;
  border: 1px #F9B234 solid;
  padding: 5px;
  border-radius: 10px;
  margin-left: 10px;
}